<p>Panning and zooming:</p>
    <ul>
        <li>Use the scroll wheel (or scroll gesture on touch pad) to zoon in and out</li>
        <li>Right-click drag to pan the image</li>
    </ul>

<p>To navigate between images:</p>
    <ul>
        <li>Using the left and right arrows to navigate the images one by one</li>
        <li>Enter a number in the box at the top to navigate to a specific image</li>
    </ul>

<p>To label regions of the image:</p>
    <ul>
        {% if drawPolyLabel %}
            <li><strong>Drawing polygonal regions onto the image:</strong>
                <ul>
                    <li>Click the <em>Draw poly</em> button</li>
                    <li>Within the image pane, left-click to draw polygonal corners of your region</li>
                    <li>When you have finished the region, right-click to stop</li>
                    <li>You are still in <em>draw poly</em> mode, so you can start left-clicking again to draw the next region</li>
                    <li>To exit <em>draw poly</em> mode, right-click a second time.</li>
                    <li>Fixing mistakes while in drawing mode:
                        <ul>
                            <li>The previous vertex is highlighted with a small pink circle. To delete it, press the
                                '<code>/</code>' key.
                            </li>
                            <li>To insert vertices at a different point in the polygon, press the '<code>,</code>'
                                and '<code>.</code>' keys to cycle through. This also cycles the vertex that is
                                highlighted as the previous vertex (above), allowing you to select vertices to
                                delete.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if drawBoxLabel %}
            <li><strong>Drawing rectangular regions onto the image:</strong>
                <ul>
                    <li>Click the <em>Draw box</em> button</li>
                    <li>Within the image pane, left-click to place one corner and left click again to place another
                        corner; the tool will create a box between the two</li>
                    <li>Repeat the above for each box that you want to create</li>
                </ul>
            </li>
        {% endif %}

        {% if drawPointLabel %}
            <li><strong>Highlighting points of interest in the image:</strong>
                <ul>
                    <li>Click the <em>Add point</em> button</li>
                    <li>Within the image pane, left-click to place a point marker in the image</li>
                    <li>Repeat the above for each point that you want to create</li>
                </ul>
            </li>
        {% endif %}

        <li><strong>Selecting regions:</strong>
            <ul>
                <li>Selected regions have a red outline, yellow otherwise</li>
                <li>If only <em>one</em> region is selected, clicking the <em>Draw poly</em> button will allow you to modify it; you will go back to <em>draw poly</em> mode</li>
                <li>To select a different region, click the <em>Select</em> button and choose a different region by clicking on it. Multiple regions can be selected by holding <em>SHIFT</em> while clicking.</li>
                <li>If multiple regions overlap and you wish to select a region that is obscured, move the
                    pointer over the region that you wish to select; the front-most region will be highlighted.
                    Press the '<code>[</code>' and '<code>]</code>' keys to cycle through the regions under the
                    pointer until the one that you need is highlighted. Left-click to select it.
                </li>
            </ul>
        </li>

        {% if deleteLabel %}
            <li><strong>Deleting regions:</strong>
                <ul>
                    <li>Select regions using the select tool (see above)</li>
                    <li>Click the wastebin button to delete them; you will be asked for confirmation</li>
                </ul>
            </li>
        {% endif %}

        {% if labelClassSelector %}
            <li><strong>Changing the label of a region:</strong>
                <ul>
                    <li>Select regions using the select tool (see above)</li>
                    <li>Use the drop-down (normally reads <em>UNCLASSIFIED</em>) within the <em>Labels</em> section to change the label</li>
                    <li><strong>Please note:</strong> for regions for which you <em>cannot</em> identify the content, use the <em>Excluded</em> label, this indicates to the system that it should not consider these parts of the image</li>
                </ul>
            </li>
        {% endif %}

        <li><strong>If the coloured regions are obscuring parts of the image that you need to see:</strong>
            <ul>
                <li>Within the <em>Labels</em> section under <em>Label visibility</em>, choose between <em>hidden</em>
                    <em>faint</em> and <em>full</em> to alter the visibility of the labels.</li>
                <li>Alternatively press the <code>;</code> key to switch between them.</li>
            </ul>
        </li>

        <li><strong>When you are done:</strong>
            <ul>
                <li>When you are satisfied that you have marked out all of the regions of interest and that they are correctly labelled, click the <em>Finished</em> checkbox within the <em>Current image</em> section.
                    This will mark the image as finished within the system.</li>
            </ul>
        </li>
    </ul>
